<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Amazonリンク</title>
  </head>
  <body>
    .
    <form id="linkForm" action="/" method="post">
      <label for="amazon-link">Link:</label>
      <!-- 短縮したいアドレスの入力フォーム -->
      <textarea
        name="amazon_link"
        id="amazon-link"
        cols="50"
        rows="8"
        required
        oninvalid="this.setCustomValidity('amazonリンクを入力してください')"
        oninput="this.setCustomValidity('')">
      </textarea>
      <!-- 送信し、バックエンドとやり取り -->
      <input type="submit" value="送信" />
      <button type="button" id="pasteAndSubmit">ペーストして送信</button>
      
    </form>

    <!-- 短縮されたリンクを表示するためのフィールド -->
    <input type="text" id="shortenedLinkField" value="" readonly>
    <!-- リンクをコピーするボタン -->
    <button onclick="copyToClipboard()">コピー</button>
    
    <script src="script.js"></script>
  </body>
</html>
