<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>amazon商品のお役立ちツール</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  </head>

  <body style="max-width: 1300px" class="bg-gray-100 p-4 mx-auto">
    <header
      class="bg-white text-gray-800 shadow-md rounded-md p-4 text-left mb-4"
    >
      <h1 class="text-2xl">Amazonリンク短縮ツール</h1>
      <p>
        amazon商品の<span class="text-xl">長すぎるリンク</span>を
        <span class="text-xl">短縮</span>します（ペースト → 短縮ボタンで実行）
      </p>
    </header>

    <div
      class="bg-white p-6 rounded-md shadow-md flex flex-wrap md:flex-nowrap"
    >
      <!-- トップ画像エリア (左)-->
      <div class="flex-none w-full md:w-2/3 mb-4 md:mb-0">
        <picture>
          <source
            media="(max-width: 599px)"
            srcset="{{ url_for('static', filename='images/tops.png') }}"
          />
          <source
            media="(min-width: 600px)"
            srcset="{{ url_for('static', filename='images/topm.png') }}"
          />
          <img
            src="{{ url_for('static', filename='images/top.png') }}"
            alt="画像"
            class="w-full h-auto"
          />
        </picture>
      </div>
      <!-- フォームエリア (右)-->
      <div class="flex-1 flex flex-col justify-between w-full md:w-1/3 md:pl-4">
        <form
          id="linkForm"
          action="/"
          method="post"
          class="flex flex-col justify-between h-full"
        >
          <div>
            <textarea
              name="amazon_link"
              id="amazon_link"
              class="w-full border rounded-md border-gray-300 p-2 mb-2 h-36 lg:h-48 md:h-20 text-black w-full w-72"
              placeholder="短縮したいamazonリンクを入力..."
              required
              oninvalid="this.setCustomValidity('amazonリンクを入力してください')"
              oninput="this.setCustomValidity('')"
              data-first-click="true"  
            >
            https://www.amazon.co.jp/%E3%82%A8%E3%83%AC%E3%82%B3%E3%83%A0-%E3%83%AF%E3%82%A4%E3%83%A4%E3%83%AC%E3%82%B9%E3%83%9E%E3%82%A6%E3%82%B9-%E3%83%88%E3%83%A9%E3%83%83%E3%82%AF%E3%83%9C%E3%83%BC%E3%83%AB-6%E3%83%9C%E3%82%BF%E3%83%B3-M-XT3DRBK/dp/B016QCPNUW/?_encoding=UTF8&pd_rd_w=yJLv5&content-id=amzn1.sym.188d4668-4672-4f36-9ad0-64c3725855d9%3Aamzn1.symc.573c83ff-b207-408b-b0c7-3d92bb6b7d04&pf_rd_p=188d4668-4672-4f36-9ad0-64c3725855d9&pf_rd_r=1KVRH1ZF5NHQWRYMX7SE&pd_rd_wg=HPoMG&pd_rd_r=c69cfea9-95b4-428a-9828-14317b6525b4&ref_=pd_gw_ci_mcx_mr_hp_atf_m            </textarea>
            <input
              type="submit"
              value="短縮する"
              class="bg-green-500 text-white p-2 rounded-md w-full mb-4 w-full w-72"
            />
          </div>

          <div class="flex-grow flex items-center justify-center text-3xl">
            ⬇️
          </div>

          <!-- 短縮アドレス -->
          <div class="border rounded-md border-gray-300 p-2 flex mt-2">
            <input
              type="text"
              id="shortenedLinkField"
              class="flex-1"
              value=""
              readonly
            />
            <button
              onclick="copyToClipboard()"
              class="bg-green-500 text-white p-2 rounded-md ml-4"
            >
              copy
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- 画像取得 -->
    <div
      class="bg-white p-6 rounded-md shadow-md flex flex-wrap md:flex-nowrap mt-5"
    >
      <!-- 商品画像エリア (左)-->
      <div
        class="relative flex-none w-full md:w-2/3 mb-4 md:mb-0 flex justify-center items-center"
      >
        <picture>
          <img
            id="product_image"
            alt="商品画像"
            style="max-width: 100px; display: none"
            class="w-full h-auto"
          />
        </picture>
        <div class="absolute bottom-3 right-10">
            <!-- <button id="downloadButton" class="hidden bg-gray-100 hover:bg-gray-300 text-xs text-black py-2 px-4 border border-black">画像ダウンロード</button> -->
            <a id="downloadLink" onclick="promptForFilename()" class="hidden bg-gray-100 hover:bg-gray-300 text-xs text-black py-2 px-4 border border-black">画像ダウンロード</a>
            <!-- <a id="downloadLink" download="product_image.jpg" class="hidden bg-gray-100 hover:bg-gray-300 text-xs text-black py-2 px-4 border border-black">画像ダウンロード</a> -->
        </div>

      </div>
      <!-- 商品情報エリア (右)-->
      <div class="flex-1 flex flex-col justify-between w-full md:w-1/3 md:pl-4">
        <div>
          <!-- 商品名の取得 -->
          <label for="nameField">商品名: </label>
          <input
            type="text"
            id="nameField"
            readonly
            class="border border-gray-300 px-2 py-1 mb-2 w-full w-72"
            />
          <!-- 商品概要の取得 -->
          <label for="aboutField">商品の概要: </label>
          <textarea
            name="about"
            id="aboutField"
            class="w-full border rounded-md border-gray-300 p-2 mb-2 h-36 lg:h-48 md:h-20 text-black w-full w-72"
            placeholder="商品の概要"
            >
          </textarea>
          <!-- 現在価格の取得 -->
          <label for="price">現在の価格: </label>
          <input
            type="text"
            id="priceField"
            readonly
            class="border border-gray-300 px-2 py-1 mb-2 w-full w-72"
          />
        </div>
      </div>
    </div>

    <!-- 価格履歴の取得 -->
    <div class="bg-white p-6 mt-6 rounded-md shadow-md flex flex-wrap md:flex-nowrap mt-5">

      <div><!-- 価格推移のグラフ（左） -->
        <div  id="plotlyGraph">
        </div>
      </div>
    </div>

    <footer class="mt-6 text-center text-gray-600">
      &copy;All Rights NEVER Reserved.
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
  </body>
</html>
